section.top-section>div{
	height: 100%;
}
section.top-section>div>span{
	text-align: center;
}
section.top-section>div>*:focus {
    outline: none;
    border: 0;
}
section.top-section>div>i {
    cursor: pointer;
    cursor: hand;
}
