<section class="top-section" flex="33" layout="column">
	<div layout="row" layout-align="center center">
		<i ng-show="fenix.domains.length > 1" flex="10" ng-click="updateNav('prev', 'domains')" class="material-icons">keyboard_arrow_left</i>
		<span flex>{{current.domain}}</span>
		<i ng-show="fenix.domains.length > 1" flex="10" ng-click="updateNav('next', 'domains')" class="material-icons">keyboard_arrow_right</i>
	</div>
</section>
<section  class="top-section" flex layout="column">
	<div layout="row" layout-align="center center">
		<i flex="10" ng-show="fenix.product_types[current.domain].length > 1" ng-click="updateNav('prev', 'product_types')" class="material-icons">keyboard_arrow_left</i>
		<span flex>{{current.product_type}}</span>
		<i flex="10" ng-show="fenix.product_types[current.domain].length > 1" ng-click="updateNav('next', 'product_types')" class="material-icons">keyboard_arrow_right</i>
	</div>
</section>

<section flex="33" class="top-section" layout="column">
</section>
</div>
